:root {
  --text: hsl(216, 85%, 8%);
  --background: hsl(212, 87%, 97%);
  --primary: hsl(213, 77%, 50%);
  --secondary: hsl(257, 86%, 74%);
  --accent: hsl(276, 87%, 61%);
}

/*   Start global   */

* {
    /* padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
    font-family: arial, tahoma; */
    padding: 0;
    margin: 0;
    /*    outline: 1px solid brown;*/
  }
  
  /*   End global   */
  


#navbar {
  position: fixed;
  width:100%;
  top: 0;
  z-index: 100;
  background-color: var(--background);

  transition: all .3s ease-in-out;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

#navbar a {
  display: block;
  text-align: right;
  justify-content: center;
  text-decoration: none;
}

.nav-title {
  padding: 14px;
}

.nav-links a {
  padding: 18px 14px 17px 14px;
}
  
  
  /*   Start navigation bar   */


  .nav-links {
    float: right;
    list-style: none;
  }
  .nav-links li {
    float: left;
    font-size: 18px;
    border-radius: 3px;
    transition: all 0.7s ease-in-out;
    -webkit-transition: all 0.7s ease-in-out;
  }
  .nav-links li a {
    color: var(--primary);
  }
  .nav-links li a:hover {
    color: var(--accent);
  }
  
  /*   End navigation bar   */
  
  
  /*   Start nav bar for small screens   */
  
  .nav-button {
    display: none;
  }
  .hamburger {
    float: right;
    margin: 10px;
    color: var(--primary);
    font-size: 28px;
    padding: 0px 5px;
    cursor: pointer;

    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
  }

  .hamburger:hover .bar {
    background-color: var(--accent);
  }

    .bar {
      background-color: var(--primary);
    }

    .bar1, .bar2, .bar3 {
      width: 30px;
      height: 4px;
      border-radius: 4px;
      margin: 6px 0;
      transition: 0.4s;
      -webkit-transition: 0.4s;
    }
    .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 8px);
    transform: rotate(-45deg) translate(-6px, 8px);
    }
    .change .bar2 {
      opacity: 0;
    }
    .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
    }
    
  
  /*   End nav bar for small screens   */
  
  /*   Start media query   */
  
  @media (max-width: 700px) {
    .nav-button {
      display: block;
    }
    .nav-links {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      position: relative;
      /* background-color: var(--bk3); */
      display: none;
    }
    .nav-links li {
      text-align: center;
      display: block;
      float: none;
    }
  }
  
  
  /*   End media query   */
  
  


  /* Header */

.nav-title {
  float: left;
  font-size: 24px;
  font-weight: bolder;
  color: var(--primary);
}

.nav-title:hover {
  color: var(--accent);
}

.sticky {
  background-color: rgba(0, 0, 0, 0.8) !important;
}