@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;900&display=swap');


:root {
    /* --primary: #f2f2f2;
    --accent: #1d76e2;
    --text-primary: #333333;
    --text-secondary: #6a6a6a; */
    --t1: #000000;
    --t2: #ffffff;
    --bk1: #fdf6ed;
    --bk2: #f0eae1;
    --bk3: #efe8e0;
    --primary: #1d76e2;
    --secondary: #f5b2f2;
    --accent: #bca5f3;
}

html {
    scroll-behavior: smooth;
}

.arial {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
}

.margin {
    margin: 8;
}

.lr-padding {
    padding-left: 8px;
    padding-right: 8px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-center {
    display: grid;
    justify-content: center;
    align-items: center;
}

.nowrap {
    flex-wrap: nowrap;
}

.wrap {
    flex-wrap: wrap;
}

section {
    scroll-margin-top: 3.5em;
}

section > h1 {
    text-align: center;
}

section:nth-child(even) {
    background-color: var(--bk1);
}

/* Header */

header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}

#navbar {
    height: 56px;
    overflow: hidden;
    position: relative;
    background-color: var(--bk3);
}

#navbar a {
    display: block;
    text-align: center;
    justify-content: center;
    padding: 14px;
    text-decoration: none;
}

.nav-title {
    float: left;
    font-size: 24px;
    font-weight: bolder;
    color: var(--primary);
}

.nav-title:hover {
    color: var(--secondary);
}

.nav-links {
    float: right;
    position:absolute;
    vertical-align: center;
    right:0px;
    height: 100%;
    /* justify-content: center; */
}

.nav-link {
    float: left;
    font-weight: bold;
    color: var(--primary);
}

.nav-link:hover {
    color: var(--secondary);
}

/* Footer */

footer {
    background-color: var(--accent);
    color: var(--t2);
    height: 40px;
}

/* About */
#about {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-frame {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-frame img {
    height: 50%;
    width: 50%;
    border-radius: 50%;
}

.about-text {
    text-align: center;
    padding: 15px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.down-arrow {
    position: absolute;
    left: 50%;
    right: 50%;
    bottom: 15px;
    z-index: 0;
}

/* Projects */

.container {
    flex-wrap: wrap;
}

.container > div > img {
    width: 20em;
    height: 20em;
    object-fit: cover;
}


/* Contact */

#contact {
    margin-bottom: 15px;
}

.pdf-viewer {
    height: 500px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}


/* STOP */

body {
    font-family: Monospace;
    font-size: 14pt;
  }
  blockquote {
    font-family: Arial;
    background-color: #F8EFBE;
    border-left-color: #F4B514;
  }
  
  #contactme {
    background-color: black;
    color: white;
    height: 180px;
  }
  
  
  #navbar {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
  }
  
  .top-nav {
    background-color: #671100;
  }
  
  .top-nav a {
    color: #d3e316;
  }
  
  h1.headingStatement {
    font-family: Monospace;
    font-size: 2em;
  }
  
  
  /* bootstrap override */
  
  a.btn-primary:hover {
    text-decoration: none;
  }
  
  .navbar-nav li a:hover {
      background-color: #FF0000;
      border-radius: 10px;
  }
  .navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    background-color: #cccccc;
    border-radius: 1px;
  }